*, *::after, *::before {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
}
div {
    margin: 2rem auto 0;
    width: 450px;
    background: royalblue;
    text-align: center;

}
li {
    padding: 1rem 0;
    background: lime;
    border: 1px solid black;
    list-style-type: none;
}

input {
    padding: 1rem;
}
